/get_video/videos/*
/get_video/clips/*
/get_video/comments/*
/get_video/__pycache__/*
/get_video/name_list.txt
/get_clip_position/positions/*
/get_clip_position/output/*
/get_clip_position/clips/*
/get_clip_position/__pycache__/*
/analyze_comment/comment_plot/*
/analyze_comment/__pycache__/*
/analyze_comment/comments/*
/log_data/*
/summarization_all/clip_position_output/*
/summarization_all/comments_by_comment_count/*
/summarization_all/comments_by_comment_count_and_bert/*
/summarization_by_comment_count_and_bert/comments/*
*.wav
*.h5
*.csv
*.json
*.png
model.*
*.model
*.vocab
