/get_video/videos/*
/get_video/clips/*
/get_video/comments/*
/get_video/__pycache__/*
/get_video/name_list.txt
/get_clip_position/positions/*
/get_clip_position/output/*
/get_clip_position/clips/*
/log_data/*
